<div class="staff-bar <%= StaffBar.position_class %> <%= StaffBar.theme_class %>">
  <div class="staff-bar-list">
    <% if StaffBar.revision.present? %>
      <div class="staff-bar-list-item"><%= octicon "git-commit" %> <%= StaffBar.revision %></div>
    <% end %>
    <% if StaffBar.branch.present? %>
      <div class="staff-bar-list-item"><%= octicon "git-branch" %> <%= StaffBar.branch %></div>
    <% end %>
    <div class="staff-bar-list-item"><%= octicon "ruby" %> ruby-<%= StaffBar.ruby_version %> rails-<%= StaffBar.rails_version %></div>
    <div class="staff-bar-list-item"><%= octicon "globe" %> <%= StaffBar.environment %></div>
    <div class="staff-bar-list-item"><%= octicon "gear" %> <span class="<%= StaffBar.cache_class %>"><%= StaffBar.cache %></span></div>
    <div class="staff-bar-list-item"><%= octicon "clock" %> <%= StaffBar.time %> (<%= StaffBar.time_zone %>)</div>
  </div>

  <div class="staff-bar-list">
    <% StaffBar.config.links.each do |link| %>
      <div class="staff-bar-list-item">
        <a href="<%= link[:url] %>" target="_blank" rel="noopener"><%= link[:title] %></a>
      </div>
    <% end %>
  </div>
</div>
